USE [master]
GO
/****** Object:  Database [EdmiDevice]    Script Date: 01/12/2021 18:11:53 ******/
CREATE DATABASE [EdmiDevice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EdmiDevice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EdmiDevice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EdmiDevice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EdmiDevice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EdmiDevice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EdmiDevice]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01/12/2021 18:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EdmiDevice]    Script Date: 01/12/2021 18:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EdmiDevice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](max) NOT NULL,
	[FirmwareVersion] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NOT NULL,
	[IP] [nvarchar](max) NULL,
	[Port] [nvarchar](max) NULL,
 CONSTRAINT [PK_EdmiDevice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211127073940_v1.0.0', N'5.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211130175443_Second', N'5.0.3')
GO
SET IDENTITY_INSERT [dbo].[EdmiDevice] ON 

INSERT [dbo].[EdmiDevice] ([Id], [SerialNumber], [FirmwareVersion], [State], [Type], [IP], [Port]) VALUES (2, N'5698745454VBF', N'1.0', N'State 2', N'Gateways', N'121.5.21.0', N'4200')
INSERT [dbo].[EdmiDevice] ([Id], [SerialNumber], [FirmwareVersion], [State], [Type], [IP], [Port]) VALUES (14, N'85425455VBJ', N'3.2', N'State 5', N'Water meter', NULL, NULL)
SET IDENTITY_INSERT [dbo].[EdmiDevice] OFF
GO
ALTER TABLE [dbo].[EdmiDevice] ADD  DEFAULT (N'') FOR [Type]
GO
USE [master]
GO
